.footer-container {
    background-color: #333;
    color: white;
    padding: 2rem 1rem;
    margin-top: auto;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer-content p {
    margin: 0;
}

.footer-content a {
    color: #fbce13;
    /* Color Rally */
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 1.2rem;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

/* Responsive */
@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
}