.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

/* Global Styles */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom, white 33%, dodgerblue 33%, dodgerblue 66%, gold 66%);
  background-attachment: fixed;
  min-height: 100vh;
  color: dimgray;
}

h1,
h2,
h3 {
  color: darkslategray;
}